body {
  /* background-color: lightgrey; */
  background: url('https://images.unsplash.com/photo-1471877325906-aee7c2240b5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
  /* background: url('https://images.unsplash.com/photo-1535478044878-3ed83d5456ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'); */
  /* background: url(https://images.unsplash.com/photo-1525018923-1ebe8261a6a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  /* 'Helvetica Neue', sans-serif; */
}

ul {
  list-style-type: none;
}

h2 {
  padding-bottom: 2rem;
  padding-top: 120px;
  text-align: center;
  color: black;
  font-family: 'Oswald', sans-serif;
  /* font-style: oblique; */
}

h3 {
  text-align: center;
  color: black;
  font-family: 'Oswald', sans-serif;
  /* font-style: oblique; */
}
header {
  top: 10px;
  left: 100px;
  right: 80px;
}

input {
  width: 50%;
}

.navbar {
  height: 95px;
  background-color: black;
  width: 100%;
  padding: 15px;
  /* color: whitesmoke; */
}
.navbar-nav {
  padding-left: 20px;
}

.brandNameFirstLetter {
  /* color: #ad2375; */
  /* rgb(140, 201, 90); */
  color: #f13279;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 39pt;
}
#brandNameFirstWord {
  /* color: #ad2375; */
  /* rgb(140, 201, 90); */
  color: #f13279;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 36pt;
}

.brandNameFirstLetterSecondWord {
  color: lightgrey;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 38pt;
}
#brandNameSecondWord {
  color: lightgrey;
  font-size: 36pt;
}

.fa-home {
  /* color: rgb(181, 37, 122); */
  /* rgb(140, 201, 90); */
  color: #f13279;
}

.fa-question {
  /* color: rgb(181, 37, 122); */
  /* rgb(140, 201, 90); */
  color: #f13279;
}

form {
  padding-left: 4em;
  padding-right: 4em;
}

.nav-item {
  /* color: rgb(181, 37, 122); */
  /* rgb(140, 201, 90); */
  color: #f13279;
  font-size: 28px;
  padding-left: 1em;
}

.pink-letters {
  /* color: rgb(181, 37, 122); */
  /* rgb(140, 201, 90); */
  color: #f13279;
}

.lightgrey-letters {
  color: lightgrey;
}
.eventTitle {
  color: #ad2375;
  /* rgb(140, 201, 90); */
  /* color: #f13279; */
}

/* .event-back-block { */
.transparent {
  background-color: rgb(255, 255, 255, 0.5) !important;
  /* rgba(211, 211, 211, 0.6) !important ; */
  /* } */
  /* background-color: lightgrey; */
}

/* .vid-head-back-block {
  background-color: lightgrey;
} */
.video-header {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 0;
}

.video-list-item {
  padding-bottom: 1.5em;
}

.video-back-block {
  /* background-color: f13279#; */
  /* background-color: rgb(181, 37, 122, 0.7) !important; */
  /* rgb(140, 201, 90, 0.7) !important; */
  background-color: rgba(241, 50, 121, 0.7) !important;
  padding-right: 1em;
  padding-top: 3rem;
  margin-top: 0;
}

#rcorners-evt-block {
  border-radius: 25px;
  background: rgb(255, 255, 255);
  /* lightgrey; */
  border-color: black;
  border: 10px;
}

#rcorners-vid-head {
  border-radius: 25px 25px 0px 0px;
  background: rgb(255, 255, 255);
  /* lightgrey; */
}

#rcorners-vid-list-block {
  border-radius: 0px 0px 25px 25px;
  background: #f13279;
}

/* border-radius: 15px 50px 30px 5px; (first value applies to top-left corner, second value applies to top-right corner, third value applies to bottom-right corner, and fourth value applies to bottom-left corner): */
